<main id="post-detail">
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <div class="btn-group">
          <div class="text-end">
            <p class="text-end border rounded ms-5 mt-3 p-2"><%= link_to"編集", "/posts/#{@post.id}/edit", class: "nav-link p-0" %></p>
          </div>
          <div class="text-end">
            <p class="text-end border rounded mt-3 p-2"><%= link_to "削除", "/posts/#{@post.id}/destroy", method: :"post", class: "nav-link" %></p>
          </div>
        </div>
      <% end %>

  <div class="row text-center">
    <div class="col m-5">
      <p class="h1"><i class="bi bi-pencil-square me-1"></i><%= @user.name %>の投稿</p><hr>
      <h2 class="title mt-5 mb-3">タイトル</h2>
      <p class="h3 text-primary"><%= @post.title %></p>
    </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <h2 class="title">本文</h2>
        <p class="h3 text-primary"><%= @post.body %></p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col m-5">
        <p class=""><button type="button" onclick="history.back()">戻る</button></p><hr>
      </div>
    </div>
  </div>


  <% if user_signed_in? && current_user.id == @post.user_id %>
    <div class="container">
      <div class="row">
        <p class="h2 mt-5 mb-5"><i class="bi bi-record me-1"></i>行動を記録</>

        <%= form_with(model: @event, local: true) do |form| %>

          <div class="title">
            <%= form.label :タイトル %>
            <%= form.text_field :title %>
          </div>

          <div class="time mt-2">
            <%= form.label :日時 %>
            <%= form.datetime_select :start_time %>
          </div>

          <div class="content mt-2">
            <%= form.label :行動 %>
            <%= form.text_field :content %>
          </div>

          <%= form.hidden_field :user_id, :value => current_user.id %>


          <div class="submit mt-3">
            <%= form.submit '登録' %>
          </div>
        <% end %>
      </div><br><br>

      <div class="row">
        <%= month_calendar events: @events do |date, events| %>
          <%= date.day %>

          <% events.each do |event| %>
            <div>
              <%= event.title %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</main>
